<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello in Library {{ name }}</h1>
    <p>Visits: {{ count_visit }}</p>

<!--    <h1>Список книг ({{books | length}})</h1>-->
<!--    <ul>{%for item in books %}-->
<!--        <li>{{item.name}}</li>-->
<!--        <li>{{item.year}}</li>-->
<!--        <li>{{item.author}}</li>-->

<!--        {%if item not in books %}-->
<!--        <li>{{Sorry}}</li>>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
<!--    </ul>-->


    <h3>Books:</h3>
    <ul>
        {% for book in books %}
            <li>{{ book.name }} by {{ book.author }} ({{ book.year }})</li>
        {% empty %}
            <li>Error</li>
        {% endfor %}
    </ul>

    <br><h3>Custom form</h3>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_table}}
        <input type="submit">
    </form>
</body>
</html>